.example {
  background-color: #FFFFFF;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 25px;
  padding-top: 27px;
}

.example__title-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.example__title {
  margin: 0px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  margin: 0;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

.example__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.example__term {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 18px;
}

.example__description {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  width: 77px;
  text-align: center;
  transform: translateY(-9px);
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.example__costs {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  margin-top: 42px;
}

.example__img {
  width: 311px;
  height: 232px;
  object-fit: cover;
}

.example__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  margin-top: 23px;
  margin-left: 47px;
  margin-right: 36px;
}

.example__toggle {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.example__slider-range {
  width: 84px;
}