.page-main__intro-wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 20px;;
}

.page-main__title {
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 37px;
  padding-top: 27px;
}

.page-main__title-wrapper {
  
}

.page-main__text {
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 39px;
}