.page-footer {
  background-color: #F2F2F2;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0px auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 130px;
  padding: 0px;
  margin: 0px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__link {
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}