.page {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

.page__body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #000000;
}

.page-header {
  margin-top: 11px;
  background-color: #ffffff;
}

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  width: 195px;
}

.page-header__img {
  width: 191px;
  height: 38px;
}

.page-header__menu--toggle {
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background: none;
}

.nav {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  min-height: 60px;
  width: auto;
}

.nav__list {
  font-family: inherit;
  list-style: none;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  width: 220px;
}

.nav__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-main__intro-wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-main__title {
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 37px;
  padding-top: 27px;
}

.page-main__text {
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 39px;
}

.intro {
  margin: 0px;
  padding: 0px;
  margin-bottom: 82px;
}

.intro__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 27px;
  text-align: center;
  background-image: url(../../../img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.intro__slogan {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  margin-bottom: 29px;
}

.intro__button {
  display: inline-flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  background: #68B738;
  text-decoration: none;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.intro__button-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.programs__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.programs__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 30px;
  padding-bottom: 18px;
}
.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 29px;
}

.programs__description {
  margin: 0px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 38px;
}

.programs__link {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.description__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;
}

.description__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.description__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.description__item:not(:last-child) {
  margin-bottom: 26px;
}

.description__text {
  margin: 0px;
  margin-left: 20px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example {
  background-color: #FFFFFF;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 25px;
  padding-top: 27px;
}

.example__title-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 105px;
  padding-bottom: 0px;
}

.example__title {
  margin: 0px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  margin: 0;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

.example__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.example__term {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 18px;
}

.example__description {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  width: 77px;
  text-align: center;
  transform: translateY(-9px);
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.example__costs {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  margin-top: 42px;
}

.example__img {
  width: 311px;
  height: 232px;
  object-fit: cover;
}

.example__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  margin-top: 23px;
  margin-left: 47px;
  margin-right: 36px;
}

.example__toggle {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.example__slider-range {
  width: 84px;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 22px;
}

.contacts__content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__text {
  width: 140px;
  margin: 0px;
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__img {
  width: 320px;
  margin: 0 auto;
}

.contacts__map-img {
  width: 320px;
  height: 362px;
}

.page-footer {
  background-color: #F2F2F2;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0px auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 130px;
  padding: 0px;
  margin: 0px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__link {
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */