.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

.page__body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #000000;
}

.page-header {
  margin-top: 11px;
  background-color: #ffffff;
}

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  width: 195px;
}

.page-header__img {
  width: 191px;
  height: 38px;
}

.page-header__menu--toggle {
  width: 24px;
  height: 16px;
  cursor: pointer;
  border: none;
  background: none;
}

.nav {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  min-height: 60px;
  width: auto;
}

.nav__list {
  font-family: inherit;
  list-style: none;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  width: 220px;
}

.nav__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-main__intro-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 39px;
  position: relative;
}
.page-main__intro-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  left: 0;
  top: 0;
}

.page-main__title-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;
}
.page-main__title-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  left: 0;
  top: 0;
}
.page-main__title-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.page-main__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
}

.page-main__intro-title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
  margin-bottom: 37px;
}

.page-main__text {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0px;
}

.intro {
  margin: 0px;
  padding: 0px;
  margin-bottom: 82px;
}

.intro__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  text-align: center;
  background-image: url(../../../img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.intro__slogan {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  margin-bottom: 29px;
}

.intro__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.intro__button-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.programs__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.programs__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 33px;
  padding-top: 30px;
  padding-bottom: 18px;
}
.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 29px;
}

.programs__description {
  margin: 0px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 38px;
}

.programs__link {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.description__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;
  margin-top: 27px;
}

.description__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0px;
}

.description__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 38px;
}

.description__item:not(:last-child) {
  margin-bottom: 26px;
}

.description__text {
  margin: 0px;
  margin-left: 20px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example {
  background-color: #FFFFFF;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 25px;
  padding-top: 27px;
}

.example__title-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.example__title {
  margin: 0px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  margin: 0;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example__box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

.example__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.example__term {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 18px;
}

.example__description {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  width: 77px;
  text-align: center;
  transform: translateY(-9px);
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.example__costs {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  margin-top: 42px;
}

.example__img {
  width: 311px;
  height: 232px;
  object-fit: cover;
}

.example__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  margin-top: 23px;
  margin-left: 47px;
  margin-right: 36px;
}

.example__toggle {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.example__slider-range {
  width: 84px;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 22px;
  background-color: #F2F2F2;
}

.contacts__content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__text {
  max-width: 140px;
  margin: 0px;
  font-family: Oswald;
  color: #111111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0px;
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__img {
  width: 320px;
  margin: 0 auto;
}

.contacts__map-img {
  width: 320px;
  height: 362px;
  display: block;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0px auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
  position: relative;
}
.page-footer__logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

.page-footer__social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-footer__social::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 130px;
  padding: 0px;
  margin: 0px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__link {
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.products {
  margin-top: 8px;
}

.products__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
}

.products__card {
  width: 280px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.products__card-name {
  font-family: Oswald;
  margin: 0px;
  width: 99px;
  transform: translateX(140px);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.products__card-img {
  box-sizing: border-box;
  width: 140px;
  height: 112px;
  transform: translateY(-40px);
  padding-top: 14px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 12px;
}

.products__card-list {
  width: 140px;
  transform: translate(140px, -119px);
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 14px;
}

.products__card-item {
  display: flex;
  justify-content: space-between;
}

.products__card-term {
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__card-description {
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__button {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 33px;
}

.products__all-title {
  color: #111;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.products__all-text {
  color: #444444;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__button--to-all {
  background-color: #F2F2F2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border: none;
}

.products__button-all-text {
  color: #444444;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
  text-transform: uppercase;
}

.button {
  width: 100%;
  font-family: inherit;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68B738;
}

.additional-products__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.additional-products__title {
  color: #000000;
  text-align: center;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 48px;
  width: 226px;
  position: relative;
}
.additional-products__title::after {
  content: "";
  position: absolute;
  background-color: #68B738;
  width: 100vw;
  height: 2px;
  top: 16px;
  z-index: -1;
  left: 100%;
}

.additional-products__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.additional-products__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-products__name {
  color: #222222;
  text-align: left;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 13px;
}

.additional-products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-products__text {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0px;
}

.additional-products__cost {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0px;
}

.gift {
  margin-top: 39px;
}

.gift__wrapper {
  width: 280px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.gift__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 43px;
  background-image: url("../../../img/gift-mobile.png");
}

.gift__text {
  color: #FFFFFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  margin-top: 48px;
  padding-left: 58px;
  padding-right: 61px;
}

.form {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.form__fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.form-bio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;
}

.form-bio__fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}

.form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form__group:not(:last-child) {
  margin-bottom: 14px;
}

.form__label {
  white-space: nowrap;
  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 14px;
}

.form__input {
  width: 100%;
  border: 1px solid #E7E7E7;
  height: 45px;
  padding-left: 16px;
  color: #444444;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}

.form-bio__fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}

.form-bio__radio-buttons {
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form__radio-input {
  margin-right: 16px;
}

.form__radio-label {
  color: #222222;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__legend {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 34px;
  margin-right: 15px;
  padding: 0px;
}
.form__legend::after {
  content: "";
  position: absolute;
  background-color: #68B738;
  width: 100vw;
  height: 2px;
  top: 14px;
  z-index: -1;
  left: 100%;
}

.form__legend--comments {
  width: 165px;
}

.form__legend--additional {
  width: 196px;
}

.form-contacts__fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 27px;
}

.form__icon {
  position: absolute;
  z-index: 1;
  left: 90%;
}

.form__textarea {
  box-sizing: border-box;
  width: 280px;
  border: 1px solid #E7E7E7;
  padding: 10px 12px 10px 15px;
  margin: 0px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-comments__fields {
  margin-bottom: 27px;
}
/*# sourceMappingURL=style.css.map */