.products {
  margin-top: 8px;
}

.products__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
}

.products__card {
  width: 280px;
  height: 112px;
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.products__card-name {
  font-family: Oswald;
  margin: 0px;
  width: 99px;
  transform: translateX(140px);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.products__card-img {
  box-sizing: border-box;
  width: 140px;
  height: 112px;
  transform: translateY(-40px);
  padding-top: 14px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 12px;
}

.products__card-list {
  width: 140px;
  transform: translate(140px, -119px);
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 14px;
}

.products__card-item {
  display: flex;
  justify-content: space-between;
}

.products__card-term {
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__card-description {
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__button {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 33px;
}

.products__all-title {
  color: #111;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.products__all-text {
  color: #444444;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.products__button--to-all {
  background-color: #F2F2F2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border: none;
}

.products__button-all-text {
  color:  #444444;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
  text-transform: uppercase;
}